/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 body {
  height: 100vh;
  overflow-y: hidden;
  padding:0;
  margin:0;
  background: #202221;
  color: #f8f9fa;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}


:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a {
  color: #337ab7;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button {
  cursor: pointer !important;
}

button.white-active {
  color: #fff !important;
}

.card-link:hover {
  background: #35393c;
  border: 3px solid #9c9c9c;
  margin: -3px;
  border-radius: 2px;
  cursor: pointer;
}






.window-controls {
  margin: auto;
  width: 100%;
  height: 35px;
  display: flex;
  -webkit-app-region: drag;
  justify-content: end;
}
.window-controls .minimize {
  width: 46px;
  height: 33px;
  display: flex;
  -webkit-app-region: no-drag;
}
.window-controls .minimize:hover {
  background: #333;
  color: #FFFFFF;
}
.window-controls .minimize:after {
  content: "";
  transform: rotate(90deg);
  margin: auto;
  border: 0.5px solid gray;
  height: 10px;
}
.window-controls .minimize:hover:after {
  border-color: #FFFFFF;
}
.window-controls .maximize {
  display: flex;
  width: 46px;
  height: 33px;
  content: "-";
  -webkit-app-region: no-drag;
}
.window-controls .maximize:hover {
  background: #333;
  color: #FFFFFF;
}
.window-controls .maximize:after {
  content: "";
  transform: rotate(90deg);
  margin: auto;
  border: 1px solid gray;
  height: 7.5px;
  width: 7.5px;
}
.window-controls .maximize:hover:after {
  border-color: #FFFFFF;
}
.window-controls .close {
  display: flex;
  width: 46px;
  height: 33px;
  -webkit-app-region: no-drag;
}
.window-controls .close:hover {
  background-color: #FF0000;
  color: #FFFFFF;
}
.window-controls .close:before {
  content: "";
  transform: rotate(-135deg) translate(-50%, 0%);
  margin: auto 0 auto auto;
  border: 0.5px solid gray;
  height: 13px;
}
.window-controls .close:hover:before {
  border-color: #FFFFFF;
}
.window-controls .close:after {
  content: "";
  transform: rotate(135deg) translate(50%, 0%);
  margin: auto auto auto 0;
  border: 0.5px solid gray;
  height: 13px;
}
.window-controls .close:hover:after {
  border-color: #FFFFFF;
}




.header {
  height: 60px;
  display: flex;
  width: 100%;
  align-items: center;
}





/* loading */
.isLoding {
  height: 47em;
  width: 100%;
  position: relative;
  display: inline-block;
}

.smart-glass {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 288px;
  height: 388px;
}

.smart-glass h1 {
  font-size: 2rem;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}

.smart-glass .logo {
  width: 288px;
  height: 288px;
  position: relative;
}

.smart-glass .circle {
  padding: 20px;
  border: 6px solid transparent;
  border-top-color: #199DDB;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: connect 2.5s linear infinite;
}

.smart-glass .thorbis {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  color: #199DDB;
  line-height: 80px;
  text-align: center;
  font-size: 50px;
}

.smart-glass .loading-text {
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  margin: 10px 0;
  font-size: 1.4rem;
}

@keyframes connect {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(-360deg);
  }
}